@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Events App V/EA/Index</title>
</head>
<body>
    <h2>The Index Page</h2>
    <p>Views/EventsApp/Index.cshtml</p>
</body>
</html>
