@model TestEvents

@{
    ViewData["Title"] = "Welcome";
}

    <h2>Welcome</h2>

    <ul>
        @foreach (var item in Model.events)
        {
            <li>
                @{
                    var listItem = item.Title + " - " + item.Location + " - " + item.Time;
                    @Html.DisplayFor(modelItem => listItem)
                }
            </li>
        }
    </ul>

