@{
    ViewData["Title"] = "Home Page";
}

<!--
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
-->
<section class="container text-center">
    <div class="jumbotron">
        <h1 class="display-3">ASP.NET Adventure Seminar</h1>
        <br>
        <p>
            In our conference we will present the lastest and greatest featues,upgrades and new ways to make your work much effienct.
            This 2 day Adventure Seminar will give you an experience to interact with many subject matter expects on how to maximaize your performace and reduce re-work.
            There will be a Virtual Sanbox, Class Sessions and College Sessions and many more in our ASP.NET Adenture Seminar. Hurry and Sign up to Register
        </p>
        <h2 class="display-6">Location: Moscone Center</h2>
        <br>
        <button class="btn btn-primary btn-lg" type"button">Sign Up</button>
    </div>
</section>