@{
    ViewData["Title"] = "Course List";

}



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] = Movie App</title>
</head>
<body>
    <h2>List of Courses</h2>

    <p>Just a simple paragraph from our View Template</p>
</body>
</html>
<!--
-->
